@import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

@media (min-width: 700px) {
  html {
    font-size: calc(10px + 0.5vw);
  }
}

body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
}

header {
  padding: 1% 1%;
  width: 100%;
  height: auto;
}

header img {
  width: auto;
  height: 100px;
}

.container {
  color: white;
}

.container .box {
  margin-top: 1%;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container .box .palette_box {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  margin-left: 21vw;
}

.container .box .palette_box .palette {
  position: relative;
  width: 150px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .box .palette_box .palette .hexcode {
  margin-top: 2vh;
  font-size: 10px;
}

.container .box .palette_box .palette .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.container .box .palette_box .palette .circle:hover {
  z-index: 9999;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .box .palette_box .palette:nth-child(1) .circle {
  background-color: #9100B5;
}

.container .box .palette_box .palette:nth-child(2) {
  left: -3vw;
}

.container .box .palette_box .palette:nth-child(2) .circle {
  background-color: #B000DC;
}

.container .box .palette_box .palette:nth-child(3) {
  left: -6vw;
}

.container .box .palette_box .palette:nth-child(3) .circle {
  background-color: #CC00FF;
}

.container .box .palette_box .palette:nth-child(4) {
  left: -9vw;
}

.container .box .palette_box .palette:nth-child(4) .circle {
  background-color: #D52BFF;
}

.container .box .palette_box .palette:nth-child(5) {
  left: -12vw;
}

.container .box .palette_box .palette:nth-child(5) .circle {
  background-color: #E167FF;
}

.container .box .palette_box .palette:nth-child(6) {
  left: -15vw;
}

.container .box .palette_box .palette:nth-child(6) .circle {
  background-color: #E789FF;
}

.container .box .palette_box .palette:nth-child(7) {
  left: -18vw;
}

.container .box .palette_box .palette:nth-child(7) .circle {
  background-color: #EEABFF;
}

.container .box .palette_box .palette:nth-child(8) {
  left: -21vw;
}

.container .box .palette_box .palette:nth-child(8) .circle {
  background-color: #F5CDFF;
}
/*# sourceMappingURL=style.css.map */